* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 50px;
}

.piano-container {
  width: 750px;
  margin: 50px auto;
  position: relative;
  font-size: 35px;
}

.white-key-container {
  width: 100%;
  justify-content: center;
}

.black-key-container {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  position: absolute;
  top: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-key {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}

.white-key {
  width: 14.5%;
  height: 400px;
  border: 1px solid black;
  box-shadow: 0 9px 6px -6px black;
  transition: background-color 0.5s;
}

.black-key {
  width: 11%;
  height: 250px;
  margin: 0 1.5%;
  background-color: black;
  color: white;
  border: 1px solid black;
  box-shadow: 0 9px 6px -6px black;
  transition: background-color 0.5s;
}

.clear-key {
  width: 15%;
  height: 250px;
}

#red {
  background-color: red;
}

.red {
  color: red;
}

#orange {
  background-color: orange;
}

.orange {
  color: orange;
}

#yellow {
  background-color: yellow;
}

.yellow {
  color: yellow;
}

#green {
  background-color: green;
}

.green {
  color: green;
}

#blue {
  background-color: blue;
}

.blue {
  color: blue;
}

#indigo {
  background-color: indigo;
}

.indigo {
  color: indigo;
}

#violet {
  background-color: violet;
}

.violet {
  color: violet;
}

#playing {
  background-color: white;
  color: black;
}

@media screen and (max-width: 830px) and (orientation: landscape) {
  h1 {
    font-size: 40px;
    margin: 15px 10px;
  }

  .piano-container {
    width: 90vw;
    margin: 0 auto;
  }

  .white-key {
    width: 14.1%; 
    height: 70vh;
  }

  .black-key {
    height: 50vh;
  }
}

@media screen and (max-width: 770px) and (orientation: portrait) {
  h1 {
    font-size: 30px;
  }

  .piano-container {
    width: 90vw;
    margin: 0 auto;
  }

  .white-key {
    height: 45vh;
  }

  .black-key {
    height: 30vh;
  }
}

@media screen and (max-width: 450px){
  .piano-container {
    font-size: 20px;
  }

  .white-key {
    height: 30vh;
  }

  .black-key {
    height: 18vh;
  }
}

@media screen and (max-width: 360px){
  .white-key {
    height: 35vh;
  }

  .black-key {
    height: 20vh;
  }
}
